@model UserViewModel
@{
    ViewData["Title"] = "MemberProfile";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<h3 class="tittle">Profil</h3>
<div class="row inner-sec">
    <table class="table tabel-bordered table-striped">
        <tr>
            <th>Kullanıcı İsmi</th>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <th>Ad</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th>Soyad</th>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
       
    </table>
</div>
