@model List<Category>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h1>Kategoriler</h1>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Kategori İsmi</th>
                    <th style="width: 130px;">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.CategoryName</td>
                        <td>
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                             <a  class="btn btn-warning"  asp-controller="Admin" asp-action="CategoryEdit" asp-route-id="@category.Id" >Güncelle</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Admin" asp-action="CategoryCreate" class="btn btn-sm btn-primary mb-3">Kategori Oluştur</a>

    </div>
</div>