@model List<Category>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3 class="tittle">Kategoriler</h3>
<div class="row inner-sec">
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Kategori İsmi</th>
                    <th style="width: 130px;">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.CategoryName</td>
                        <td >
                            <a class="btn btn-sm btn-warning mr-1" asp-controller="Admin" asp-action="CategoryEdit" asp-route-id="@category.Id">Güncelle</a>
                            <form action="/admin/deletecategory" method="post" style="display: inline">
                                <input type="hidden" name="categoryId" value="@category.Id">
                                <button type="submit" class="btn btn-danger btn-sm my-2">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Admin" asp-action="CategoryCreate" class="btn btn-primary read-m">Kategori Oluştur</a>
</div>