@model List<Product>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3 class="tittle">Ürünler</h3>
<a asp-controller="Admin" asp-action="ProductsCreate" class="btn btn-primary read-m">Ürün Oluştur</a>
<div class="inner-sec">
    <!--left-->
    <div class="left-blog-info-w3layouts-agileits text-left">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 card my-2">
                    <a href="single.html">
                        <img  src="~/Tema/resim/@item.ImageUrl" class="card-img-top img-fluid" alt="">
                    </a>
                    <div class="card-body">

                        <ul class="blog-icons ">

                            <li class="mx-1">
                                <h5 class="card-title">
                                    <a href="~/Blog/BlogReadAll/@item.ProductName">@item.ProductName</a>
                                </h5>
                            </li>
                            <li class="mx-1">
                                <a href="#">
                                    <i class="tittle">@Html.DisplayFor(modelitem=>item.Category.CategoryName)</i>
                                </a>
                            </li>
                        </ul>
                            <a asp-controller="Admin" asp-action="ProductDetail" asp-route-id=@item.Id class="btn btn-sm btn-success mr-2">Detay</a>
                            <a asp-controller="Admin" asp-action="ProductsEdit" asp-route-id=@item.Id class="btn btn-sm btn-warning mr-2">Düzenle</a>
                            <form action="/admin/deleteproducts" method="post" style="display: inline">
                                <input type="hidden" name="productId" value="@item.Id">
                                <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                            </form>

                        @*                        <p class="card-text mb-3">@item.BlogContent.Substring(0,item.BlogContent.Substring(0,100).LastIndexOf(" "))...</p>
                            <a href="~/Blog/BlogReadAll/@item.BlogID" class="btn btn-primary read-m">Devamını Oku</a>*@
                    </div>

                </div>

            }
        </div>
        <!--//left-->
    </div>
</div>